body {
  background-size: cover;
  background-image: url('../res/registration-bg.jpg');
}

footer > p {
  color: #fff;
}

/* Password inputs are in divs */
.password-container {
  position: relative;
}
.password-container-2 {
  position: relative;
}
/* other inputs in the form are in divs */
.input-container {
  position: relative;
}
.toggle-password {
  position: absolute;
  top: 30%;  
  left: 85%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1; 
}
/* postioning of toggle icon */
.toggle-password i {
  position: absolute;
  /* transform: translateY(4%); */
          /* left: 55%; */
          /* top: 50%;  */
  z-index: 2;
  font-size: 18px;
  color: #aaa;
}
/* Password checker styles */
.password-req-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px; 
  
}

.grid-item {
  padding: 5px;
}

/* popup */
.popup {
  display: none;
  /* Hidden by default */
  background-color: #fff;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto; /* Enable scroll if needed */
  z-index: 3; /* Sit on top */
  position: fixed; /* Stay in place */
  padding-top: 10%; 
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* popup Content */
.popup-content {
  background-color: #fefefe;
  margin: auto;
  
  padding: 30px;
  border: 1px solid #888;
  width: 40%;
  height: 60%;
  
}
.popup-content img {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 25vh;
  margin-left: 13vw;
  padding-top: 5%;
  padding-bottom: 10%;
  /* width: 50vw; */
}
#to-centre {
  display: block;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#popup-container {
  background-color: #fff;
  height: 25%;
  width: 26%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}
#login-container {
  /* height: 95%;
  width: 40%; */
  /* padding-bottom: 20%; */
}
#login-wrapper {
  width: 51%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-form {
  justify-content: center;
}